html {
    box-sizing: border-box;
  }

*,
*:after,
*:before {
  margin: 0;
  box-sizing: inherit;
}

.body {
    font-family: "Avenir Next", sans-serif;
    min-height: 100vh;
    height: 100%; 
}

/* **************Navbar****************** */

nav {
    max-width: 100%;
    background-color: #FCFDFF;
    padding-left: 30px;
    padding-right: 10px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .logo {
    display: inline-block;
    vertical-align: middle;
  }

  .logo img {
    width: 100px;
    margin-top: .4rem;
    margin-left: 12rem;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 1px;
    font: 15px;
    font-family: "Avenir Next";
    margin-right: 6rem;
  }

  .nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #3CC8BB;
}

.nav-item a button {
    color: #3CC8BB;
    border: 1px solid #3CC8BB;
    border-radius: 4px;
    padding: .2rem 1rem;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

/* **************Main Signup Section************* */

#main-signup {
    background-color: #36ADBD;
    background-image: linear-gradient(to right, #3CC8BB, #36ADBD);
    position: relative;
    width: 100%;
}

#main-signup-text {
    color: white;
    position: absolute;
    bottom: 300px;
    right: 220px;
    text-align: left;
    line-height: 1.6;
    font-family: "Avenir Next", sans-serif;
}

#main-signup-text h2 {
    font-weight: 200;
    font-size: 2rem;
}

#main-signup-text p {
    font-weight: 200;
}

#main-signup-text button {
    color: #36ADBD;
    margin-top: 2rem;
    padding: .9rem 4rem;
    border: 0px;
    border-radius: 3px;
}


/* *************Client Section************ */

.client-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1rem 0;
    
}

.client-column {
    padding: 5px;
    text-align: center;
    background-color: whitesmoke;
  }

.client-column img {
    width: 40%;
    height: auto;
}

/* ****************Quality Leads Section************** */

#quality-leads {
    text-align: center;
    padding: 5rem;
}

#quality-leads-info {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 4%;
    font-family: "Avenir Next", sans-serif;
}

#quality-leads-info h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #1e3147;
    margin-bottom: 1em;
}

#quality-leads-info p {
    color: #788ca1;
}

#quality-leads-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}

.quality-leads-image {
    margin: 5px;
    width: 100%;
    height: auto;
}

.quality-leads-image img {
    width: 40%;
}

/* **************Enrichment-Reveal Section****************** */

#enrichment-reveal-container {
    background-color: rgb(43, 6, 112);
    background-image: linear-gradient(to right, rgb(43, 6, 112), #59C6C4);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    
}

#enrichment-reveal-enrichment {
    font-family: "Avenir Next", sans-serif;
    color: white;
    line-height: 1.8;
}

#enrichment-reveal-enrichment h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

#enrichment-reveal-enrichment p {
    font-size: .8rem;
    font-weight: 400;
}

#enrichment-reveal-reveal {
    font-family: "Avenir Next", sans-serif;
    color: white;
    line-height: 1.8;
}

#enrichment-reveal-reveal h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

#enrichment-reveal-reveal p {
    font-size: .8rem;
    font-weight: 500;
}

/* ***************Questions Section*************** */

#questions-container {
    text-align: center;
    padding: 5rem;
}

#questions-info {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 4%;
    font-family: "Avenir Next", sans-serif;
}

#questions-info h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #1e3147;
    margin-bottom: 1em;
}

#questions-info p {
    color: #788ca1;
    margin-bottom: 2rem;
}

#question-box {
    width: 40rem;
    margin: 0 auto;
    padding: .8rem;
    border: solid #59C6C4;
    border-radius: 5px;
    text-align: left;
}

#question-box span {
    color: rgb(4, 116, 131);
    margin-left: 20px;
    font-weight: 600;
}

/* *************Testimony Section***************** */

#testimony-container {
    position: relative;
    width: 100%;
    height: 50%;
    background-color: rgb(211, 206, 206);
    
}
#testimony-container img {
   align-items: left;
   justify-content: left;
}

#testimony-text {
    color: rgb(61, 26, 26);
    position: absolute;
    bottom: 300px;
    right: 220px;
    text-align: left;
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: "Avenir Next", sans-serif;
}

/* **************Signup Section******************* */

#signup-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 4rem 0;
}

#signup-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Avenir Next", sans-serif;
    line-height: 3;
}

#signup-wrapper {
    border: solid;
    width: 75%;
    position: relative;
}

#signup-field {
    float: left;
    box-sizing: border-box;
    padding-right: 80px;
    width: 100%;
}

#signup-field-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
}