html {
    box-sizing: border-box;
  }

*,
*:after,
*:before {
  margin: 0;
  box-sizing: inherit;
}

.body {
    font-family: "Avenir Next", sans-serif;
    min-height: 100vh;
    height: 100%; 
}

/* **************Navbar****************** */

nav {
    max-width: 100%;
    background-color: #FCFDFF;
    padding-left: 30px;
    padding-right: 10px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  .logo {
    display: inline-block;
    width: 175px;
    vertical-align: middle;
    /* color: white;
    padding-top: 5px; */
  }
  
  
  
  .nav-links {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding-right: 1px;
    font: 15px;
    font-family: "Avenir Next";
    /* font-size: .85em; */
    /* overflow: hidden; */
  }

  .nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: #3CC8BB;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}


/* *************Client Section************ */

.client-row {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    padding: 1rem 0;
    
}

.client-column {
    padding: 5px;
    text-align: center;
    background-color: whitesmoke;
  }

.client-column img {
    width: 40%;
    height: auto;
}

/* ****************Quality Leads Section************** */

#quality-leads {
    text-align: center;
    padding: 5rem;
}

#quality-leads-info {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 4%;
    font-family: "Avenir Next", sans-serif;
}

#quality-leads-info h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #1e3147;
    margin-bottom: 1em;
}

#quality-leads-info p {
    color: #788ca1;
}

#quality-leads-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}

.quality-leads-image {
    margin: 5px;
    width: 100%;
    height: auto;
}

.quality-leads-image img {
    width: 40%;
}

